{% extends 'layout/header.php' %}

{% block content %}
<h1>Liste des livres</h1>
<table>
    <tr>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Genre</th>
        <th>Année</th>
        <th>Quantité</th>
        <th>Actions</th>
    </tr>
    {% for livre in livres %}
        <tr>
            <td>{{ livre.titre }}</td>
            <td>{{ livre.auteur_prenom }} {{ livre.auteur_nom }}</td>
            <td>{{ livre.nom_genre }}</td>
            <td>{{ livre.annee_publication }}</td>
            <td>{{ livre.quantite_disponible }}</td>
            <td>
                <a href="/public/index.php?route=livres/edit&id={{ livre.id_livre }}">Modifier</a>
                <a href="/public/index.php?route=livres/delete&id={{ livre.id_livre }}">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}